<!DOCTYPE html>
<html>

<!-- head 开始 -->

<head>
    <meta charset="utf-8">
    <title>YYUEsys</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">

    <script src="/static/layuiadmin/layui/layui.all.js" charset="utf-8"></script>
    <script src="/static/jquery.min.js"></script>
    <style>
        body {
            /* margin: 10px; */
            background-color: white
        }
    </style>
</head>
<!-- head结束 -->

<body>
    <!-- 开始 表格内容 -->
    <div class="layui-fluid">
        <div class="layadmin-caller">
            <table class="layui-hide" id="datatable" lay-filter="data_table"></table>
        </div>
    </div>
    <!-- 结束 表格内容 -->

    <!-- 开始 表格工具栏 -->
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <div class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>新增</div>
        </div>
    </script>
    <!-- 结束 表格工具栏 -->

    <!-- 开始 行操作栏 -->
    <script type="text/html" id="editbar">
        <a class="layui-btn layui-btn-sm" lay-event="edit"><i class="layui-icon">&#xe642;</i> 编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del"><i class="layui-icon">&#xe640;</i> 删除</a>
    </script>
    <!-- 结束 行操作栏 -->


    <script>
        layui.use('table', function() {
            var table = layui.table;
            table.on('checkbox(itemtable)', function(obj) {
                // console.log(obj)
            });

            // 表格渲染 开始
            table.render({
                elem: '#datatable',
                url: '/basic/service/getlist',
                height: 'full-20',
                cellMinWidth: 80,
                toolbar: '#toolbar',
                defaultToolbar: ['filter', 'exports', 'print', {
                    title: '刷新数据',
                    layEvent: 'refresh',
                    icon: 'layui-icon-refresh'
                }],
                title: '服务项目列表',
                page: {
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],
                    //curr: 5, 
                    groups: 10,
                    first: true,
                    last: true,
                },
                first: true,
                limit: 100,
                limits: [10, 20, 30, 40, 50, 100, 200, 500],
                initSort: {
                    field: 'ID',
                    type: 'desc'
                },
                cols: [
                    [{
                        field: 'ID',
                        title: 'ID',
                        width: 80,
                        fixed: 'left',
                        unresize: true,
                        sort: true
                    }, {
                        field: 'Name',
                        title: '服务名称',
                        width: 150,
                    }, {
                        field: 'State',
                        title: '状态',
                        width: 120,
                        sort: true,
                        templet: function(d) {
                            if (d.State == '停用')
                                return "<span style='color: #d0d0d0;'>" + d.State + "</span>"
                            else
                                return d.State
                                    // return d.StartDates.substr(0, 10)
                        },
                    }, {
                        field: 'Memo',
                        title: '备注',
                    }, {
                        field: 'Updatetime',
                        title: '最后更新',
                        sort: true,
                        fixed: 'right',
                        width: 180,
                    }, {
                        fixed: 'right',
                        title: '操作',
                        toolbar: '#editbar',
                        width: 190,
                    }]
                ],
                page: true,
                response: {
                    statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
                },
                parseData: function(res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data, //解析数据列表
                    };
                }
            });
            // 表格渲染  结束

            //开始 监听表格工具栏事件
            table.on('toolbar(data_table)', function(obj) {
                switch (obj.event) {
                    case 'add':
                        layer.open({
                            type: 2,
                            title: '新增班级',
                            content: ['/basic/service/pageadd', 'no'],
                            maxmin: true,
                            area: ['560px', '360px'],
                            btn: ['保存', '取消'],
                            shade: 0.5,
                            yes: function(index, layero) {
                                //点击确认触发 iframe 内容中的按钮提交
                                var submit = layero.find('iframe').contents().find("#form-submit");
                                submit.click();
                            }
                        });
                        break;
                    case 'refresh':
                        $(".layui-laypage-btn").click();
                        break;
                };
            });
            //结束 监听表格工具栏事件

            //开始 监听行工具栏事件
            table.on('tool(data_table)', function(obj) {
                var data = obj.data;
                // console.log("data")
                switch (obj.event) {
                    case 'del':
                        layer.confirm('确定要删除班级 ' + data.Name + ' ？', function(index) {
                            $.ajax({
                                type: "POST",
                                url: "/basic/service/del",
                                data: {
                                    'ID': data.ID
                                },

                                async: true,

                                dataType: "json",
                                success: function(data) {
                                    if (data.msg == "success") {
                                        obj.del();
                                        layer.close(index);
                                        layer.msg('已删除!', {
                                            icon: 1,
                                            time: 500
                                        });
                                    } else {
                                        layer.msg(data.msg, {
                                            icon: 0,
                                            time: 500
                                        });
                                    }
                                }
                            });

                        });
                        break;

                    case 'edit':
                        console.log(data.ID)
                        layer.open({
                            type: 2,
                            title: '班级编辑',
                            content: ['/basic/service/pageedit?ID=' + data.ID, 'no'],

                            maxmin: true,
                            area: ['560px', '360px'],
                            btn: ['保存', '取消'],
                            yes: function(index, layero) {
                                //点击确认触发 iframe 内容中的按钮提交
                                var submit = layero.find('iframe').contents().find("#form-submit");
                                submit.click();
                            }
                        });
                        break;
                };
            });
            //结束 监听行工具栏事件



        });
    </script>

</body>


</html>